@using SistemaDeEstacionamento.Models.DTO;

@model Vaga

<h1>@ViewData["Title"]</h1>

<script>


</script>


<table class="table table-dark table-striped">
    @{
        if (Model.TotalVagas != null && Model.TotalVagas != 0)
        {
            <tr>
                <td scope="col">Total de vagas: </td>
                <td>@Model.TotalVagas</td>
            </tr>
            <tr>
                <td scope="col">Vagas Disponíveis</td>
                <td>@Model.VagasDisponiveis</td>

            </tr>
            <tr>
                <td scope="col">Vagas Ocupadas</td>
                <td>@Model.VagasOcupadas</td>
            </tr>
        }
        else
        {
            <p>Você não informou o total de vagas do estacionamento!</p>
            //<a class="btn btn-primary" href="#"></a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Clique aqui para informar a quantidade de vagas!</button>
        }
    }
</table>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alterar preço</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Total de Vagas:</label>
                        <input class="form-control" id="txtPreco" type="number" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="">Concluir</button>
                <button id="btnFecharModal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

