

<h1>@ViewData["Title"]</h1>

<style>
    .data {
        width: 120px;
    }
</style>

<script>
    $(function () {
        InicializaComponentes();
    });


    function InicializaComponentes() {
        carregarCampoData('#dtInicio', null, null);
        carregarCampoData('#dtFinal', null, null);
        $('#dtInicio').mask('99/99/9999');
        $('#dtFinal').mask('99/99/9999');
    }

    function ValidarDados() {
        if (ValidarTamanhoData('dtInicio') == false || ValidarTamanhoData('dtFinal') == false) {
            return AlertaErroSemBotao('Data Inválida!');
        }

        if (!ValidarDatas('dtInicio', 'dtFinal')) {
            return AlertaErroSemBotao('A data Inicial é maior que a data Final!');
        }
        BaixarRelatorio();
    }

    function BaixarRelatorio() {

        let dataInicio = $('#dtInicio').val();
        let dataFinal = $('#dtFinal').val();
        console.log(dataInicio);
        console.log(dataFinal);
        var req = new XMLHttpRequest();
        var url = "/Faturamento/BaixarPdf" + "?dataInicio=" + encodeURIComponent(dataInicio) + "&dataFinal=" + encodeURIComponent(dataFinal);

        req.open("GET", url, true);
        req.responseType = "blob";
        req.onreadystatechange = function () {
            if (req.readyState === XMLHttpRequest.DONE) {
                if (req.status === 200) {
                    var blob = req.response;
                    console.log(blob.size);
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "Entradas e Saídas " + dataInicio + " até " + dataFinal + ".pdf";
                    link.click();
                    AlertaSucessoComBotao('Arquivo baixado com sucesso!');
                }
                else if (req.status === 204) {
                    AlertaErroComBotao("Não existe dados referente o periodo selecionado!");
                }
                else {
                    AlertaErroComBotao("Erro ao tentar baixar o relatório! " + req.statusText);
                }
            }
        };
        req.send();
    }

</script>


<h2>Geração de Relatórios</h2>
<div class="row" style="margin-top:30px;">
    <div class="col-md-12">
        <p>Selecione o periodo para a geração do relatório</p>
        <span>Data de Início: </span>
        <input class="data" type="text" id="dtInicio" name="dataInicio" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" required />
        <span style="margin-left:25px;">Data Final: </span>
        <input class="data" type="text" id="dtFinal" name="dataFinal" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" required />
    </div>
</div>
<div class="row" style="margin-top:30px;">
    <div class="col-md-12">
        <button class="btn btn-primary" type="submit" onclick="ValidarDados();">Gerar Relatório</button>
    </div>
</div>




