@{
    ViewData["Title"] = "Faturamento";
}

<script>
    $(function () {
        //$('#partialView_RetornarPrecoDia').load(`/Faturamento/PartialRetornarPrecoDia?dia=${dia}`);
        $('#partialView_RetornarEntradasValores').load(`/Faturamento/PartialRetornarEntradasValores`);
    });
</script>


<h1>@ViewData["Title"]</h1>


<div class="row">
    <div id="partialView_RetornarEntradasValores" class="col-md-6">
        @await Html.PartialAsync("_PartialRetornarEntradasValores")
    </div>

    <div class="col-md-6">
        <table class="table table-danger">
            <tr>
                <td>Saídas no dia</td>
                <td>Alterar</td>
                <td>Excluir</td>
            </tr>
            <tr>
                <td>15 R$</td>
                <td><a href="" class="btn btn-primary"> Alterar </a></td>
                <td><a href="" class="btn btn-danger"> Excluir </a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>Entradas: R$ 100</label>
        <label>Saídas: R$ 20</label>
        <label>Saldo: R$ 80</label>
    </div>
</div>

@*<div class="row">
    <div class="col-md-4">
        <span>Entradas: R$ 100</span>
    </div>
    <div class="col-md-4">
        <span>Saídas: R$ 20</span>
    </div>
    <div class="col-md-4">
        <span>Saldo: R$ 80</span>
    </div>
</div>*@
