@{
    ViewData["Title"] = "Faturamento";
}

<script>
    $(function () {
        InicializaComponentes();
        $('#partialView_RetornarEntradasValores').load(`/Faturamento/PartialRetornarEntradasValores`);
        $('#partialView_RetornarSaidasValores').load(`/Faturamento/PartialRetornarSaidaValores`);
    });

    function InicializaComponentes() {
        carregarCampoData('#calendario', null, null);
        $('#calendario').mask('99/99/9999');
    }

    function Tab1(){
        $("#partialView_GerarRelatorioValores").hide();
        $("#partialView_RetornarEntradasValores").show();
        $("#partialView_RetornarSaidasValores").show();

        $('#partialView_RetornarEntradasValores').load(`/Faturamento/PartialRetornarEntradasValores`);
        $('#partialView_RetornarSaidasValores').load(`/Faturamento/PartialRetornarSaidaValores`);
        InicializaComponentes();
    }

    function Tab2(){
        $("#partialView_RetornarEntradasValores").hide();
        $("#partialView_RetornarSaidasValores").hide();
        $("#partialView_GerarRelatorioValores").show();

        $('#partialView_GerarRelatorioValores').load(`/Faturamento/PartialGerarRelatorioValores`);
        InicializaComponentes();
    }

</script>


<h1>@ViewData["Title"]</h1>


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" onclick="Tab1();">Dados do dia</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" onclick="Tab2();">Gerar Relatório</button>
    </div>
</nav>



<div class="row">
    <div id="partialView_RetornarEntradasValores" class="col-md-6">
        @await Html.PartialAsync("_PartialRetornarEntradasValores")
    </div>
    <div id="partialView_RetornarSaidasValores" class="col-md-6">
        @await Html.PartialAsync("_PartialRetornarSaidasValores")
    </div>
    
</div>

<div class="row">
    <div id="partialView_GerarRelatorioValores" class="col-md-12">
    </div>
</div>

<div id="partialView_ListarVeiculos">
</div>




