@{
    ViewData["Title"] = "Faturamento";
}

<script>
    $(function () {
        //$('#partialView_RetornarPrecoDia').load(`/Faturamento/PartialRetornarPrecoDia?dia=${dia}`);
        $('#partialView_RetornarEntradasValores').load(`/Faturamento/PartialRetornarEntradasValores`);
        $('#partialView_RetornarSaidasValores').load(`/Faturamento/PartialRetornarSaidaValores`);
    });
</script>


<h1>@ViewData["Title"]</h1>


<div class="row">
    <div id="partialView_RetornarEntradasValores" class="col-md-6">
        @await Html.PartialAsync("_PartialRetornarEntradasValores")
    </div>

    <div id="partialView_RetornarSaidasValores" class="col-md-6">
        @await Html.PartialAsync("_PartialRetornarSaidasValores")
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>Entradas: R$ 100</label>
        <label>Saídas: R$ 20</label>
        <label>Saldo: R$ 80</label>
    </div>
</div>

<form action="/Faturamento/BaixarPdf" method="post">
    <button type="submit">Gerar Relatório</button>
</form>
