@{
    ViewData["Title"] = "Alterar preços";
}
<h1>@ViewData["Title"]</h1>


<table class="table">
    <tr>
        <td>Tipo do Veiculo</td>
        <td>Dia da semana</td>
        <td>Valor</td>
        <td>Alterar</td>
    </tr>
    <tr>
        <td>Carro</td>
        <td>Domingo</td>
        <td>15 R$</td>
        <td><a href="" class="btn btn-primary"> Alterar </a></td>
    </tr>
</table>
