@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<script>

    $(function () {
        $('#partialView_ListarVeiculos').load(`/Home/PartialListarVeiculos`);
    });

    

</script>


<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>



    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Preço atual:</h3>
        <p>Moto:</p>
        <p>Carro médio:</p>
        <p>Carro grande</p>

    </div>

    <div class="col-md-4">
        <h3>Total de vagas:</h3>
        <p>Vagas ocupadas:</p>
        <p>Vagas Disponiveis:</p>
    </div>

    <div class="col-md-4">
        <h3>Faturamento do dia:</h3>
        <p>Entradas:</p>
        <p>Saídas:</p>
        <p>Saldo:</p>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div id="partialView_ListarVeiculos">
            @await Html.PartialAsync("_PartialListarVeiculos")
        </div>
    </div>

    @*<div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>*@

</div>