@using System.Globalization;
@{
    ViewData["Title"] = "Home Page";
    CultureInfo culturaBrasileira = new CultureInfo("pt-BR");
    DateTime data = new DateTime();
    data = DateTime.Now;
    string diaDaSemana = culturaBrasileira.DateTimeFormat.GetDayName(data.DayOfWeek);
    int idData = (int)data.DayOfWeek;
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<script>

    $(function () {
        let dia = '@idData'
        $('#partialView_ListarVeiculos').load(`/Estacionamento/PartialListarVeiculos`);
        $('#partialView_RetornarPrecoDia').load(`/Faturamento/PartialRetornarPrecoDia?dia=${dia}`);
        $('#partialView_RetornarVagas').load(`/Estacionamento/PartialRetornarVagas`);
        $('#partialView_Lembretes').load(`/Estacionamento/PartialLembretes`);
    });

 



</script>

<div class="text-center">
    <h2>@diaDaSemana, @data.ToShortDateString()</h2>
</div>


<div class="row" style="margin-top:30px;">
    <div class="col-md-4">
        <div class="card" style="width: 18rem; height: 17rem;">
            <img src="assets/dinheiro-png.png" class="rounded mx-auto d-block" style="height:80px;" alt="...">
            <div id="partialView_RetornarPrecoDia" class="card-body">
                <h5 class="card-title" style="text-align:center;">Preço do dia</h5>
                @await Html.PartialAsync("_PartialRetornarPrecoDia")
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card" style="width: 18rem;height: 17rem;">
            <img src="assets/carro-garagem.png" class="rounded mx-auto d-block" style="height:80px;" alt="...">
            <div id="partialView_RetornarVagas" class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>

    </div>



    <div class="col-md-4">
        <div class="card" style="width: 18rem;height: 17rem;">
            <img src="assets/lista-lembretes.png" class="rounded mx-auto d-block" style="height:80px;" alt="...">
            <div id="partialView_Lembretes" class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>



<div class="row" style="margin-top:30px;">
    <div class="col-md-12">
        <h2>Histórico de veículos</h2>
        <div id="partialView_ListarVeiculos">
            @await Html.PartialAsync("_PartialListarVeiculos")
        </div>
    </div>

</div>